#wrap {
    width: 100%;
}
/* 상단부분 */
#header{
    width: 100%;
    height: 200px;
    background-color: black;
}
#header_in{
    width: 1500px;
    height: 200px;
    margin: 0 auto;
    background-color: darkslateblue;
}

/* 메인영역 */
#main{
    width: 100%;
    height: 690px;
    font-size: 40px;
    background-color: darkgray;

}

/* con1 */
#contents {
    width: 100%;
    height: 900px;
    background-color: rgb(186, 135, 222);
}



#contents .con1 {
    position: relative;
    width: 1500px;
    height: 700px;
    margin: 0 auto;
    background-color: rgb(254, 167, 167);
}

#contents .con1 .tabmn li {
    float: left;
    width: 290px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 1px solid rgb(212, 71, 71);
}

#contents .submn  {
    display: flex;
    width: 1500px;
    height: 650px;
    position: absolute;
    top:50px;
    left: 0;
    background-color: rgb(116, 242, 232);
    font-size: 50px;
    color: #fff;
}
#contents .submn li{
    margin-right: 100px;
    width: 300px;
    height: 650px;
    background-color: blueviolet;

}
#contents .submn li:last-child {
    margin-right: 0px;
}

#contents article.con1 div:first-child {
    z-index: 2;
}

#con2{
    width: 100%;
    height: 900px;
    font-size: 50px;
    background-color: cornflowerblue;
}
#con2_in {
    width: 1500px;
    height: 900px;
    margin: 0 auto;
    background-color: rgb(0, 52, 150);
}

#con3{
    width: 100%;
    height: 400px;
    font-size: 50px;
    background-color: mediumpurple;
}
#event {
    width: 100%;
    height: 900px;
    font-size: 50px;
    background-color: rgb(100, 237, 173);
}

#event_in {
    width: 1500px;
    height: 900px;
    margin: 0 auto;
    background-color: rgb(0, 150, 107);
}
#con4 {
    width: 100%;
    height: 370px;
    font-size: 50px;
    background-color: rgb(55, 1, 163);
}


/* 하단영역 */
#footer{
    width: 100%;
    height: 360px;
    font-size: 50px;
    background-color: black;
}






